:root {
    --hr: #525252;
    --show-notes-btn: #525252;
    --tag-border: #525252;
    --ref-text: #a9a9a9;
}

.tags {
    text-align: right;
}

.tag {
    margin-left: 0.1em;
    padding: 0em 0.3em;
    border-radius: 5px;
    border: 1px solid var(--tag-border)
}

hr {
    border-color: transparent;
    background-color: transparent;
    border-top: 1px dashed var(--hr);
    margin: 4px 0;
}

.show-notes-btn {
    text-align: right;
    list-style: none;
    color: var(--show-notes-btn);
}

.reference {
    text-align: right;
    color: var(--ref-text);
    font-size: 0.8em;
}
