.card {
    font-size: 1.3em;
}

.invisible{
    display: none;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

td {
    padding: 0.2em 0.1em;
}

.float-right {
    float: right;
}

.small-btn {
    color: #525252;
}

hr {
    border-color: transparent;
    background-color: transparent;
    border-top: 1px dashed #525252;
    margin: 4px 0;
}